<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Leilões</title>
</head>

<body class="poppins-regular">
    <%- include('partials/header.ejs') %>

    <div class="bg-alternative py-5">
        <div class="container-fluid px-5">
            <h2 class="text-center fw-bold">Lista de Usuários</h2>
            <p class="text-center">Aqui estão todos os usuários registrados:</p>
            <button class = "btn btn-primary">+ Criar usuário</button>
            <div class="row">
                <!-- Lista de Usuários em Cards -->
                <div class="container my-4">
                    <div class="row">
                        <% users.forEach(user => { %>
                            <div class="col-lg-4 col-md-6 mb-4"> <!-- 3 cards por linha -->
                                <div class="card border">
                                    <div class="card-body text-center">
                                        <h5 class="card-title"><%= user.name %></h5>
                                        <p class="card-text">Email: <%= user.email %></p>
                                        <p class="card-text">Username: <%= user.username %></p>
                                        <p class="card-text">Role: <%= user.role %></p>
                                        <div class="d-flex justify-content-around">
                                            <a href="/admin/users/<%= user.id %>" class="btn btn-warning">Editar</a>
                                            <form action="/admin/users/delete/<%= user.id %>" method="POST" class="d-inline">
                                                <button type="submit" class="btn btn-danger">Deletar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>
    <script src="/scripts/bootstrap.bundle.min.js"></script>
</body>

</html>
