<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/forms.css">
    <title>Leilões</title>
</head>

<body>
    <%- include('partials/header.ejs') %>

    <div class="container-gray">
        <div class="content-container">
            <a href="/seusLeiloes">
                &lt;- Retornar para os seus leilões</a>
            <div class="form-container mt-2">
                <h2>Crie seu leilão</h2>
                <form action="/leiloes/<%= auction.id %>" method="POST" enctype="multipart/form-data" id="forms">
                    <div class="mb-3">
                        <label for="category">Selecione a Categoria do produto</label>
                        <select class="form-select" id="category" name="category">
                            <% const categories = [
                                "Eletrônicos",
                                "Roupas e Acessórios",
                                "Móveis e Decoração",
                                "Alimentos e Bebidas",
                                "Beleza e Cuidados Pessoais",
                                "Esportes e Lazer",
                                "Livros e Mídias",
                                "Brinquedos",
                                "Automotivo",
                                "Jardinagem",
                                "Saúde"
                            ]; %>
                            <% categories.forEach(category => { %>
                                <option value="<%= category %>" <%= auction.category === category ? 'selected' : '' %>><%= category %></option>
                            <% }); %>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="productName">Digite aqui o nome do seu produto</label>
                        <textarea class="form-control" name="name" id="productName" rows="1" style="font-size: 12px;"><%= auction.name %></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="productState">Em que estado se encontra seu produto?</label>
                        <select class="form-select" id="productState" name="conservation">
                            <option>Novo</option>
                            <option>Seminovo</option>
                            <option>Usado</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="productDescription">Descrição do Produto</label>
                        <textarea class="form-control" name="description" id="description" rows="3"
                            style="font-size: 12px;"> <%= auction.description %></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlFile1">Insira as imagens do produto (Máximo 3):</label>
                        <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1" multiple>
                    </div>

                    <div class="mb-3">
                        <label for="dateofbirth">Data e Hora do fim do Leilão</label>
                        <input type="datetime-local" name="endDate" id="endDate">
                    </div>

                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>
    <script src="/scripts/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
    async function editarLeilao() {
        const form = document.getElementById('forms');
        const formData = new FormData(form);

        try {
            const response = await axios.put('http://localhost:8084/leiloes/<%= auction.id %>', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                }
            });

            // Emitir um alerta e redirecionar para a página desejada
            alert('Leilão editado com sucesso!');
            window.location.href = '/seusLeiloes'; // Altere para a URL para onde deseja redirecionar

        } catch (error) {
            console.error('Erro ao editar leilão:', error.message);
            alert('Houve um erro ao editar o leilão. Tente novamente.');
        }
    }

    // Previne o envio padrão do formulário e chama a função de editar
    document.getElementById('forms').addEventListener('submit', function(event) {
        event.preventDefault();
        editarLeilao(); 
    });
    </script>
</body>

</html>
