<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/index.css">
  <title>
    <%= title %>
  </title>
</head>

<body class="poppins-regular">
  <%- include('partials/header.ejs') %>

  <div class="d-flex flex-column noto-serif-bold text-center py-5">
    <h2 class="py-3">Seu sites de leilões descomplicado!</h2>
    <h3 class="py-3">Venda fácil, compre fácil!</h3>
    <div class="d-flex justify-content-center w-auto px-4 py-3 poppins-regular">
      <a class="btn btn-custom" href="leiloes.html" role="button">Veja aqui as melhores ofertas pra você!</a>
    </div>
  </div>

  <section class="bg-alternative py-5">
    <h3 class="text-center poppins-bold mb-5">Ofertas do dia</h3>

    <div class="container">
      <div class="row">
        <!-- Full width on mobile, third width on larger screens -->
        <div class="col-12 col-md-4 mb-4">
          <%- include('partials/card.ejs') %>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <%- include('partials/card.ejs') %>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <%- include('partials/card.ejs') %>
        </div>
      </div>
    </div>
  </section>

  <%- include('partials/footer.ejs') %>
  <script src="/scripts/bootstrap.bundle.min.js"></script>
</body>

</html>