<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction Item</title>
    <link rel="stylesheet" href="styles/produto.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
</head>

<body>
    <%- include('partials/header.ejs') %>
    <hr>

    <div class="container mt-5">
        <div class="row offset-md-1">
            <div class="col-md-5">
                <img src="images/placeholder.jpg" class="img-fluid" alt="Auction Item Image" style="width: 400px;">
            </div>
            <div class="col-md-6 offset-md-1">
                <h2><%= auction.name %></h2>
                <br>
                <div class="d-flex justify-content-around align-items-center p-1 border">
                    <div>
                        <p class="mb-0"><strong>Maior lance:</strong></p>
                        <h4 class="bid-text"><%= auction.highestBid.value %></h4>
                    </div>

                    <div class="text-center">
                        <p class="mb-2"><strong>Finaliza em:</strong></p>
                        <div class="d-flex justify-content-center">
                            <div class="text-center me-3">
                                <h5 class="m-0">00</h5>
                                <small>Dias</small>
                            </div>
                            <div class="text-center me-3">
                                <h5 class="m-0">00</h5>
                                <small>Horas</small>
                            </div>
                            <div class="text-center me-3">
                                <h5 class="m-0">05</h5>
                                <small>Minutos</small>
                            </div>
                            <div class="text-center">
                                <h5 class="m-0">35</h5>
                                <small>Segundos</small>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <p><strong>Estado:</strong> <%= auction.conservation %></p>
                <p><strong>Categoria:</strong> <%= auction.category %></p>
                <p><strong>Descrição:</strong> <%= auction.description %></p>
                <form action="/submit" method="POST" enctype="multipart/form-data">

                    <label for="currency-field"><strong>Seu lance</strong></label>
                    <div class="d-flex">
                        <input type="text" name="currency-field" id="currency-field"
                            pattern="^R\$\d{1,3}(\.\d{3})*(,\d{2})?$" value="" data-type="currency"
                            placeholder="R$1.000,00">

                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <hr>

    <%- include('partials/footer.ejs') %>
    <script src="/scripts/bootstrap.bundle.min.js"></script>
</body>

</html>