<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/index.css">
    <title><%= title %></title>
</head>

<body class="poppins-regular">
    <%- include('partials/header.ejs') %>

    <div class="bg-alternative py-5">
        <div class="container-fluid px-5">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-12 col-md-2">
                    <p><strong>Bem-vindo <%= user.username %></strong></p>
                    <div>ID: <%= user.id %><i class="bi bi-pen"></i> <br>role: <%= user.role %> <br>Infos do USER 3</div>
                </div>

                <!-- Grid -->
                <div class="col-12 col-md-10">
                    <!-- Container sets a standard maximum width -->
                    <div class="container">
                        <h3 class="poppins-bold">Meus Leilões</h3>
                        <a href="criarLeilao.html" class="btn btn-primary mb-3">+ Criar leilão</a>
                        <div class="row">
                            <% auctions.forEach(auction => { %>
                                <div class="col-12 col-md-4 mb-4">
                                  <%- include('partials/card.ejs', {auction: auction}) %>
                                </div>
                              <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>
    <script src="/scripts/bootstrap.bundle.min.js"></script>
</body>

</html>